---
interface Props {
	title: string
	description?: string
	keywords?: string
}

const { title, description = "Revoluciona tu estrategia digital y alcanza un crecimiento exponencial con embudos de venta efectivos.", keywords = "estrategia digital, crecimiento exponencial, embudos de venta, marketing" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="Nicolás Alvarado" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
	</head>
	<body>
		<slot />
	</body>
</html>
